.likeDislike{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}
.active-like{
    background-color: blue;
    color: white;

}
.active-dislike{

    background-color: red;
    color: white;
}
.button{
    border-radius: 8px;
    font-size: 20px;
color: black;
padding: 20px;
text-align: center;
overflow: hidden;
cursor: pointer;
}