.likeDislike{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    
}
.active-dislikebutton{

    color: rgb(0, 0, 0);
    height: 30px;
    width: 30%;
    border: none;
    color: red;
    font-size: 20px;
    background-color: transparent;


}
.active-likebutton{
    color: rgb(2, 209, 95);
    height: 30px;
    width: 30%;
    border: none;
    font-size: 20px;
    background-color: transparent;


}
.button {

    font-size: 20px;
    color: black;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
    width: 30%;
    border: none;
    background-color: transparent;
    
}


